.categories {
  min-height: 610px;
  padding: 95px 5.5% 55px;
  background-color: var(--color-dark);
  background-image: url("../images/elts/pattern-dark.png");
  background-repeat: repeat-y;
  background-position: left -315px;
  background-size: 100% auto;
  color: var(--color-background);
}